.content{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* button */
.buttonSection{
  width: 500px;
  height: 200px;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 20px;
  background-color: plum;
  box-shadow: 6px 6px 8px black, inset 3px 3px 4px white;
}
h2{
  font-size: 30px;
  color: white;
  text-shadow: 6px 7px 7px black;
}
button:active{
  box-shadow: inset 6px 6px 8px black, inset -3px -3px 4px white;
}
h2:active{
  text-shadow: 1px 1px 1px black;
}
/* card */
.cardSection{
  padding: 30px;
  transition: 1s linear;
}
.img{
  width: 300px;
  transition: 1s linear;
}
.cardP{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: green;
  margin-top: 25px;
}
.cardSection:hover{
  border-radius: 25px;
  box-shadow: 2px 2px 8px green, -2px -2px 10px green;
}
.img:hover{
  border-radius: 25px 25px 0 0;
}
/* text */
.textP{
 font-size: 140px;
 color: red;
 letter-spacing: 20px;
 animation: changeColor 0.5s linear infinite;
}
@keyframes changeColor{
  from{
    color: red;
  }
  to{
    color: white;
  }
}


