.content{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* button */
.buttonSection{
  width: 500px;
  height: 200px;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 20px;
  background-color: plum;
  box-shadow: 6px 6px 8px black, inset 3px 3px 4px white;
}
h2{
  font-size: 30px;
  color: white;
  text-shadow: 6px 7px 7px black;
}
button:active{
  box-shadow: inset 6px 6px 8px black, inset -3px -3px 4px white;
}
h2:active{
  text-shadow: 1px 1px 1px black;
}
/* card */
.cardSection{
  padding: 30px;
  transition: 1s linear;
}
.img{
  width: 300px;
  transition: 1s linear;
}
.cardP{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: green;
  margin-top: 25px;
}
.cardSection:hover{
  border-radius: 25px;
  box-shadow: 2px 2px 8px green, -2px -2px 10px green;
}
.img:hover{
  border-radius: 25px 25px 0 0;
}
/* text */
.textP{
 font-size: 140px;
 color: red;
 letter-spacing: 20px;
 animation: changeColor 0.5s linear infinite;
}
@keyframes changeColor{
  from{
    color: red;
  }
  to{
    color: white;
  }
}
/* spinner */
.spinnerSection{
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinnerImg{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 1s linear;
}
.spinnerContent{
  position: absolute;
  background-color: white;
  width: 200px;                                      /*აქ რა მიწერია მეც არვიცი :დ*/
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinnerP{
  font-size: 50px;
  color: blue;
}
.spinnerImg:hover{
  transform: rotate(360deg);
}
/* header */
header{
  background-color: cadetblue;
}
ul{
  display: flex;
  column-gap: 70px;
  padding: 20px 100px;
}
a{
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 0px black;
  transition: 1s linear;
}
a:hover{
  text-shadow: 
  0 0 5px rgb(255, 7, 255),
  0 0 20px rgb(255, 7, 255),
  0 0 50px rgb(255, 7, 255),
  0 0 90px rgb(255, 7, 255);
}



