/* button */
.buttonContent{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonDiv{
  width: 500px;
  height: 200px;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 20px;
  background-color: plum;
  box-shadow: 6px 6px 8px black, inset 3px 3px 4px white;
}
h2{
  font-size: 30px;
  color: white;
  text-shadow: 6px 7px 7px black;
}
button:active{
  box-shadow: inset 6px 6px 8px black, inset -3px -3px 4px white;
}
h2:active{
  text-shadow: 1px 1px 1px black;
}